<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>

	<title>Eat Da Burger!</title>
	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<body class="grey grey lighten-5">
	<div class="container">
		<header class="header">
			<div class="row center card grey lighten-1">
				<h2 class="black-text text-darken-2">
					<br>Eat Da Burger!</h2>
			</div>
		</header>
		<!-- Page Content goes here -->
		<main>
			{{{ body }}}
		</main>


	</div>
</body>

</html>