
<li class="grey lighten-1 black-text text-darken-4 collection-item">
	{{burger_name}} {{#unless devoured}}
	<div class="eat-btn">
		<button class="btn-small btn-floating eat-burger tooltipped" data-position="right"
		 data-id="{{id}}">Eat</button>
	</div>
	{{/unless}}

</li>